# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
*.env

# Streamlit specific
.streamlit/config.toml
.streamlit/secrets.toml

# VS Code / PyCharm
.vscode/
.idea/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# MacOS / Windows
.DS_Store
Thumbs.db

# Logs and dumps
*.log
*.pot
*.mo
*.pid
*.sqlite3
*.db

# Model and data files
*.pkl
*.h5
*.csv
*.xlsx
